{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">

    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link href="http://fonts.cdnfonts.com/css/euclid-circular-a?styles=100037,100034,100036,100039,100031"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'style.scss'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrapethenet</title>
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script>
        setTimeout(function () {
            const modal = document.getElementById("error-modal");
            // hide modal after 3 seconds
            modal.style.display = "none";
        }, 3500);
     
    </script>
    
</head>
<body>
     <!-- error popup modal -->
     {% if messages %}
     {% for msg in messages %}
     <div id="error-modal" class="flex animate-pulse w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-lg
        fixed left-8 top-8">
         <div class="flex items-center justify-center w-12 stroke-slate-900">
             <svg class="w-6 h-6 text-slate-800 fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                 <path
                     d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z" />
             </svg>
         </div>
 
         <div class="px-4 py-2 -mx-3">
             <div class="mx-3">
                 <span class="font-semibold text-slate-800 ">Error</span>
                 <p class="text-sm text-gray-600 ">{{msg}}</p>
             </div>
         </div>
     </div>
     {% endfor %}
     {% endif %}
     <!-- error popup modal -->
     <style>
        #thot:hover{
            color: #b1b4b8;
        }
       
    </style>

  <header>
    <div class="nav-bar">
      <a href="" class="logo">Scrapethenet</a>
      <div class="navigation" >
        <div class="nav-items" >
          <i class="uil uil-times nav-close-btn"></i>
          <a href="" id="thot"><i class="uil uil-home"></i> Home</a>
          <a href="{% url 'help' %}" id="thot"><i class="uil uil-compass"></i> Help?</a>
        <!--  <a href="{% url 'history' %}" id="thot"><i class="uil uil-info-circle"></i> History</a> -->
          <a href="{% url 'logout' %}" id="thot"><i class="uil uil-home"></i> Logout></a> 
          
          <i class="fa-solid fa-right-from-bracket"></i>
         
       </div>
    </div>
    <!--
     <a class="menu-container" >
            <button class="menu-button"><img src="http://i.pravatar.cc/50"><span class="title">Henry Smith</span></button>
            
            <div class="menu-dropdown">
              <div class="content">
                <ul>
                  <li>Account Settings</li>
                  <li>Profile</li>
                          <li>Logout</li>
                </ul>
              </div>
            </div>
        </a>
        -->    
  </header>
  <script>
    var menuButton = document.querySelector(".menu-button");

menuButton.addEventListener("click", function(event) {
  event.preventDefault();
  var parent = document.querySelector(".menu-container");
  if (parent.classList.contains("open")) {
    parent.classList.remove("open");
  } else {
    parent.classList.add("open");
  }
});

  </script>
  <section class="home">
<style>
    .swiper-slide .text-content .read-btn:hover i{
  transform: translateY(5px);
}
</style>   

 <div class="swiper-container">
    <div class="swiper bg-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{% static 'images/new9.jpg' %}" alt=""> 
         
          <div class="text-content">
            <h2 class="title">Image Extractor<span style="margin-left: 5%;">scroll down</span></h2>
            <p>This Image Extractor uses web scraping technology to scrape all the images from 
            a website , It can be used to get all the images in one place from any website you 
            want from, so that you don't have to scroll for each image, This is a beta version tho
            Go Copy a website's Url link, Click on the Scrape Now button below to Start Scraping.</p>
            <button class="read-btn" onClick="document.getElementById('middle').scrollIntoView({ behavior: 'smooth' });">Scrape Now <i class="uil uil-arrow-down"></i></button>
          </div>
        </div>
        <div class="swiper-slide dark-layer">
          <img src="{% static 'images/bg2.jpg' %}" alt="">
          <div class="text-content">
            <h2 class="title">Image Extractor<span style="margin-left: 5%;">scroll down</span></h2>
            <p>This Image Extractor uses web scraping technology to scrape all the images from 
                a website , It can be used to get all the images in one place from any website you 
                want from, so that you don't have to scroll for each image, This is a beta version tho
                Go Copy a website's Url link, Click on the Scrape Now button below to Start Scraping.</p>
            <button class="read-btn" onClick="document.getElementById('middle').scrollIntoView({ behavior: 'smooth' });">Scrape Now <i class="uil uil-arrow-down"></i></button>
          </div>
        </div>
        <div class="swiper-slide dark-layer">
          <img src="{% static 'images/bg3.jpg' %}" alt="">
          <div class="text-content">
            <h2 class="title">Image Extractor<span style="margin-left: 5%;">scroll down</span></h2>
            <p>This Image Extractor uses web scraping technology to scrape all the images from 
                a website , It can be used to get all the images in one place from any website you 
                want from, so that you don't have to scroll for each image, This is a beta version tho
                Go Copy a website's Url link, Click on the Scrape Now button below to Start Scraping.</p>
            <button class="read-btn" onClick="document.getElementById('middle').scrollIntoView({ behavior: 'smooth' });">Scrape Now <i class="uil uil-arrow-down"></i></button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="{% static 'images/bg4.jpg' %}" alt="">
          <div class="text-content">
            <h2 class="title">Image Extractor<span style="margin-left: 5%;">scroll down</span></h2>
            <p>This Image Extractor uses web scraping technology to scrape all the images from 
            a website , It can be used to get all the images in one place from any website you 
            want from, so that you don't have to scroll for each image, This is a beta version tho
            Go Copy a website's Url link, Click on the Scrape Now button below to Start Scraping.</p>
            <button class="read-btn" onClick="document.getElementById('middle').scrollIntoView({ behavior: 'smooth' });">Scrape Now <i class="uil uil-arrow-down"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    <div class="bg-slider-thumbs">
      <div class="swiper-wrapper thumbs-container">
        <img src="{% static 'images/new9.jpg' %}" class="swiper-slide" alt="">
        <img src="{% static 'images/bg2.jpg' %}" class="swiper-slide" alt="">
        <img src="{% static 'images/bg3.jpg' %}" class="swiper-slide" alt="">
        <img src="{% static 'images/bg4.jpg' %}" class="swiper-slide" alt="">
      </div>
    </div>
  </section>
<section >
  <section  class="about section"  >
    <h2 id="middle" style="text-align: center;"></h2 >
    <p><section class="text-gray-400 body-font" style="background-color: #000000;" >
        <div style="margin-top: 12%;" class="dark-bg container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div
                class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col  mb-16 md:mb-0 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white md:text-center" >Image Extractor</h1>
                <p class="mb-8 leading-relaxed">Extract all the images from any website and webpages</p>
                <div class="flex w-full  items-end" style="margin-left:180px; margin-top: 20px;">
                    <form action="" method="post" class="flex w-full  justify-center items-end">
                        <div class="relative mr-4 md:w-full lg:w-full xl:w-1/2 w-2/4">
                            {% csrf_token %}
                            <label for="hero-field" class=" leading-7 text-sm text-gray-400" style="margin-right: 60%;">Url of Website</label>
                            <input type="text" id="hero-field" name="hero-field" placeholder="Eg: https://www.gdcr.ac.in"
                                class="md:justify-center w-full bg-gray-800 rounded bg-opacity-40 border border-gray-700 focus:ring-2 focus:ring-green-900 focus:bg-transparent focus:border-green-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
                        </div>
                        <button type="submit" id="thet"
                            class="inline-flex text-white  border-0 py-2 px-6 focus:outline-none rounded text-lg bg-gray-800 hover-bg-gray-200" >Extract</button>
                    </form>
                </div>
                <p class="text-sm mt-2 text-gray-500 mb-8 w-full" style="margin-right: 15%;">simply scrapes all images from website.</p>
            </div>
            
        </div>
    </section></p>
   
  </section>
</section>
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>




  
<body style="font-family: 'Euclid Circular A', sans-serif;">

   

    <style>
        #thet
        
        {
            background-color:#212e41 ;
        }
        #thet:hover
        { background-color: #18212e;
            
        }
        #opa:hover
        {
           height: 5ch;
        
        }
        
    </style>


    <!-- image container after iterating over image links   -->
    <div class="px-10 pb-10 flex-1" style="background-color: #202834;">

        <div><h3 style="text-align: center; color:antiquewhite;">Images coming here! 👇🏻 </h3></div>     
        <div
            class="mt-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 3xl:grid-cols-7 gap-6">
            {% for image_url, file_name, file_format in ImagesAndFilenames %}
            <div>
                <div
                    class="bg-white rounded-md shadow-green-100 h-full flex flex-col justify-between app-image relative transition-all duration-200 transform hover:-translate-y-2 hover:scale-105 hover:z-10 hover:shadow-xl focus-within:z-20">
                    <div>
                        <div  class="w-full relative" style="padding-bottom: 100;">
                            <div class="left-0 w-full h-full p-6 flex-1">
                                <div class="rounded-md w-full h-full overflow-hidden bg-green-50">
                                    <img src="{{ image_url }}" alt="" srcset=""
                                        class="object-scale-down h-full w-full cursor-pointer">
                                </div>
                            </div>
                        </div>
                        <div class="px-6 pb-4 -mt-2">
                            <div class="flex justify-between overflow-hidden">
                                <div class="font-normal overflow-hidden">Name: {{ file_name }}</div>

                            </div>
                        </div>
                    </div>
                    <div class="px-4 py-3 border-t border-gray-200 flex flex-wrap items-center justify-between">
                        <div >
                            <!-- OPEN IMAGE LINK BUTTON and ICON -->
                            <a title="Open" href="{{ image_url }}" class="button p-0 h-10 w-10 is-text" target="_blank">
                                <button type="button" class="button p-0 h-10 w-10 is-text" >
                                    <span>
                                        <div  class="app-icon h-6 w-6 justify-between app-image relative transition-all duration-200 transform hover:-translate-y-2 hover:scale-105 hover:z-10">
                                            <svg  fill="#000000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                width="24px" height="24px">
                                                <path
                                                    d="M 5 3 C 3.9069372 3 3 3.9069372 3 5 L 3 19 C 3 20.093063 3.9069372 21 5 21 L 19 21 C 20.093063 21 21 20.093063 21 19 L 21 12 L 19 12 L 19 19 L 5 19 L 5 5 L 12 5 L 12 3 L 5 3 z M 14 3 L 14 5 L 17.585938 5 L 8.2929688 14.292969 L 9.7070312 15.707031 L 19 6.4140625 L 19 10 L 21 10 L 21 3 L 14 3 z" />
                                            </svg>
                                        </div>
                                    </span>
                                </button>
                            </a>
                           


                          
                        </div>
                        <div class = "justify-between app-image relative transition-all duration-200 transform hover:-translate-y-2 hover:scale-105 hover:z-10">
                            <a  href="{{image_url}}" download="image.jpg" class="button p-0 h-10 w-10 is-text" target="_blank"  title="Download">
                                <button  type="button" class="button p-0 h-10 w-10 is-text" id="down">
                                    <span>
                                        <div class="app-icon h-6 w-6">
                                            <svg class="hover" height="25px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                            viewBox="0 0 512 512" xml:space="preserve">
                                       <path style="fill:#8AE9FF;" d="M406.274,318.388c-6.251-6.252-14.574-9.694-23.435-9.694c-8.86,0-17.183,3.442-23.434,9.694
                                           l-70.263,70.263V43.339c0-18.274-14.867-33.14-33.141-33.14s-33.141,14.866-33.141,33.14v345.311l-70.263-70.263
                                           c-12.921-12.921-33.946-12.921-46.868-0.001c-6.259,6.259-9.707,14.582-9.707,23.435c0,8.852,3.447,17.174,9.707,23.433
                                           l126.838,126.838c6.259,6.261,14.582,9.709,23.435,9.709s17.175-3.447,23.435-9.708l126.838-126.837
                                           c6.259-6.259,9.707-14.582,9.707-23.434C415.98,332.968,412.533,324.647,406.274,318.388z"/>
                                       <g>
                                           <path style="fill:#248A9C;" d="M256.001,512c-11.579,0-22.463-4.509-30.648-12.696L98.516,372.467
                                               c-8.186-8.185-12.694-19.068-12.694-30.646s4.508-22.461,12.694-30.648c16.9-16.897,44.395-16.895,61.292,0.001l52.852,52.852
                                               V43.339C212.66,19.443,232.103,0,256.001,0c23.898,0,43.34,19.443,43.34,43.339v320.688l52.852-52.852
                                               c8.177-8.178,19.06-12.682,30.646-12.682c11.585,0,22.469,4.504,30.646,12.682l0,0c0.001,0.001,0.001,0.001,0.001,0.001
                                               c8.185,8.185,12.693,19.068,12.693,30.646c0,11.577-4.508,22.46-12.694,30.647L286.647,499.305
                                               C278.463,507.491,267.58,512,256.001,512z M129.162,318.891c-5.875,0-11.751,2.236-16.223,6.708
                                               c-4.333,4.332-6.719,10.093-6.719,16.222c0,6.128,2.387,11.888,6.719,16.221l126.838,126.837
                                               c4.333,4.335,10.093,6.721,16.223,6.721s11.89-2.387,16.222-6.72l126.838-126.837c4.334-4.333,6.72-10.094,6.72-16.222
                                               c0-6.129-2.387-11.889-6.719-16.222c0,0,0,0-0.001-0.001c-4.323-4.324-10.085-6.706-16.222-6.706
                                               c-6.137,0-11.897,2.382-16.222,6.707l-70.264,70.263c-2.917,2.918-7.305,3.789-11.114,2.21c-3.811-1.578-6.296-5.296-6.296-9.422
                                               V43.339c0-12.649-10.292-22.941-22.942-22.941s-22.942,10.292-22.942,22.941v345.311c0,4.126-2.486,7.844-6.296,9.422
                                               c-3.81,1.579-8.198,0.707-11.114-2.21l-70.264-70.263C140.913,321.127,135.037,318.891,129.162,318.891z"/>
                                           <path style="fill:#248A9C;" d="M332.024,406.958c-2.61,0-5.221-0.996-7.212-2.987c-3.983-3.983-3.983-10.441,0-14.425l2.022-2.022
                                               c3.983-3.982,10.441-3.982,14.425,0c3.983,3.983,3.983,10.441,0,14.425l-2.023,2.023
                                               C337.245,405.962,334.634,406.958,332.024,406.958z"/>
                                           <path style="fill:#248A9C;" d="M259.002,479.981c-2.61,0-5.22-0.996-7.212-2.987c-3.983-3.983-3.984-10.441,0-14.425l53.275-53.276
                                               c3.983-3.982,10.441-3.982,14.424,0c3.983,3.983,3.984,10.441,0,14.425l-53.275,53.276
                                               C264.223,478.985,261.612,479.981,259.002,479.981z"/>
                                       </g>
                                       </svg>
                                        </div>
                                    </span>
                                </button>
                            </a>
                        </div>
                        <div>
                            <div
                                class="dropdown dropdown-menu-animation is-bottom-left is-mobile-modal overflow-hidden w-9">
                                <span class="bg-green-50 text-gray-600 p-1 rounded-md">{{ file_format }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- image container after iterating over image links   -->
</body>

<footer class="text-black-600 body-font" style="background-color: #000000;">
    <div class="container px-5 py-1 mx-auto flex items-center sm:flex-row flex-col">
        <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
            <span class="ml-3 text-xl">Extract Pics</span>
        </a>
        <p class="text-sm text-white sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
            B Rohan Rao 
        </p>
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
            <a href="https://github.com/rohanlearn/scrapethenet.git" target="_blank">
            <svg width="24" height="24" viewBox="0 0 16 16" fill="white" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z" />
              </svg>
            </a>
            
            <a class="ml-3 text-white" href="https://www.instagram.com/the.maniaccc/" target="_blank">
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    class="w-5 h-5" viewBox="0 0 24 24">
                    <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                    <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
                </svg>
            </a>
            <a class="ml-3 text-white" href="https://www.linkedin.com/in/b-rohan-rao-b082a7245/" target="_blank">
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                    stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
                    <path stroke="none"
                        d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z">
                    </path>
                    <circle cx="4" cy="4" r="2" stroke="none"></circle>
                </svg>
            </a>
        </span>
    </div>
    </footer>

</body>
</html>
